
*{
    margin: 0;
    list-style-type: none;
    font-family: 'Work Sans', sans-serif; 
}
/* navigation and header style */
.nav-bar{
    font-size:30px;
    font-style: normal;
    color: rgb(247, 243, 242);
    display: flex;
    justify-content: center;
background-color: rgba(189, 16, 97, 0.733);
width: 1560px;



}
ul li{
    list-style: none;
     margin-left: 60px; 
   
}
.btn-primary{
    height: 40px;
    border-radius: 5px;
    background-color: rgba(138, 190, 17, 0.795);
    color: rgb(250, 240, 243);
    font-size: 30px;
}


/* header image style */

.container{
    position: relative;
}
.container{
    max-width: 100%;
    height: auto;
    
}
.header-text{
position: absolute;
top: 40%;
right: 40%;
color: aliceblue;
padding: 10px;
}

.header-text h1{
font-size: bold;
margin-bottom: 5px;
}


.header-text button{
    border-radius: 5px;
    }
    .header-text button span{
        font-weight: bold;
        color: dodgerblue;
    }


.box{

    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 900px;
    padding: 20px;
    display: flex;
}

 

.box .imgBx img{

    max-width: 100%;
}

.box .content{

    padding-left: 70px;
    padding-top: 200px;
}


.box .content h3{
    margin: 0;
    padding-left: 0;
    font: Work Sans;
    font-size: 40px;
    font-weight:bold;
    color: #151414;
    ;
}

.box .content p{
    font-weight:400;
    font-size: 16px;
    margin: 0;
    padding: 10px 0 0;
    text-align: justify;

}
 

     .box .content li img{
         width: 20px;
        height: 20px;
    } 






    /* My Plans Start */

    .box1{

        position: absolute;
        top: 100%;
        left: 40%;
         transform: translate(-50%, -50%); 
        width: 1200px;
        padding: 20px;
         
    }


.box1 h3{
font-size: 45px;
font-weight: bold;
text-align: center;
}


.box1 .box1-container{
    
    display: flex;
}

.box1 .box1-container .imgBX1{
    
    text-align: center;
}
   


.box1 .box1-container .imgBX2{
    padding-left: 150PX;
    text-align: center;
}
    
.box1 .box1-container .imgBX3{
    padding-left: 150PX;
    text-align: center;
}
    
.box1 .box1-container .imgBX4{
    padding-left: 150PX;
    text-align: center;
}
    
    .box1 h3{
        padding-bottom: 30px;
    }